<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MP_Lab_Reports"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBlWPMcbMp3_smL-lrBZEGYuMs7NtyVJ6c" />

<!--lab 1-->
<!--        <activity android:name=".Lab1.Contact"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name=".Lab1.About"/>-->

<!--        lab2 -->
<!--        <activity android:name=".Lab2.Lab2Linear"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name=".Lab2.Lab2Constraint"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


<!--        <activity android:name=".Lab2.Lab2"-->
<!--            android:exported="true"-->
<!--            >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->

<!--        </activity>-->

<!--        lab 3 -->
<!--        <activity android:name=".Lab3.Lab3Activityone"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name=".Lab3.Lab3Activitysecond"/>-->



<!--        lab4 -->
<!--        <activity android:name=".Lab4.Lab4Activity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->



<!--        lab 5 -->
<!--        <activity android:name=".Lab5.Home"-->
<!--                    android:exported="true">-->
<!--                    <intent-filter>-->
<!--                        <action android:name="android.intent.action.MAIN" />-->
<!--                        <category android:name="android.intent.category.LAUNCHER"/>-->
<!--                    </intent-filter>-->
<!--                </activity>-->
<!--        <activity android:name=".Lab5.ListViewMain"/>-->
<!--        <activity android:name=".Lab5.GridViewMain"/>-->
<!--        <activity android:name=".Lab5.RecyclerViewListMain"/>-->
<!--        <activity android:name=".Lab5.CustomGridViewMain"/>-->
<!--        <activity android:name=".Lab5.CustomListViewMain"/>-->

<!--        lab 6-->
        <activity android:name=".Lab6.Lab6CRUD"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

<!--        lab 7-->
<!--        <activity android:name=".Lab7.MapViewMain"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->




    </application>

</manifest>